<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dozeedits.enableDozeInvert" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Enables Doze Invert Mode For Dark Themes"/>
    </application>
</manifest>
